
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adiciona</title>
</head>
<body>
    <div> 
        <p>Post @ViewBag.Titulo adicionado com sucesso.</p>
        <p>Voltar para a @Html.ActionLink("lista", "Index") de posts.</p>
    </div>
</body>
</html>
