
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    <div> 
        <h1>Novo Post</h1>
        <form action="@Url.Action("Adiciona")">
            Título: <input name="Titulo" /><br />
            Resumo: <input name="Resumo" /><br />
            Categoria: <input name="Categoria" /><br />
            <fieldset>
                <legend>Publicação:</legend>
                Data: <input name="DataPublicacao" /><br />
                Realizado? <input name="Publicado" type="checkbox" checked="checked" value="false" /><br />
            </fieldset>
            <input type="submit" value="Gravar" />
        </form>
    </div>
</body>
</html>
