
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categorias</title>
</head>
<body>
    <div> 
        <ul>
            <li>Filmes</li>
            <li>Livros</li>
            <li>Músicas</li>
        </ul>
    </div>
</body>
</html>
